*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: rgb(0, 0, 0);
}

.navbar .left-links{
    font-size: 32px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.navbar ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.section{
  display: flex;
  flex-direction: column;
   padding: 64px 0px;
}

.h1-text{
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    font-size: 36px;
    font-weight: 800px;
    color: rgb(0, 0, 0)
}

.header-text{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 800px;
}

.about-me-header{
  display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 12px 0px;
    font-weight: bold;
    max-width: 400px;
}

.about-me-body{
  text-align: center;
}


.body-text{

  text-align: center;
    margin-bottom: 36px;
    font-size: 24px;
    }

.h2-text{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.large-icon{
  font-size: 80px; /* Adjust the icon size as needed */
  width: 80px; /* Set the width of the icon */
  height: 80px; /* Set the height of the icon */
  display: inline-block;
}
  
  .image-icon{
    width: 64px; /* Set the width of the icon */
    height: 64px; /* Set the height of the icon */
    display: inline-block;
    color: #000;
  }


  .text-icon{
    display: flex;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
  }

  .project-container{
    max-width: 1100px;
  }


  .card-container{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    margin-bottom: 24px;
  }

  .project-image{
    max-width: 300px;
    max-height: 300px;
  }

  .card{
    display: flex;
    flex-direction: column;
    padding: 12px 12px;
    max-width: 320px;
  }

  .oddcard{
    background-color: white
  }

  .evencard{
    background-color: lightsteelblue
  }

  .card-header{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 2.4em; /* Fixed height for two lines of text, assuming 1.2em line height */
    overflow: hidden; /* Hide overflow text */

  }

  .generic-button{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    border: none;          /* Remove default border */
    border-radius: 16px;    /* Adjust the value for the desired amount of rounding */
    background-color: rgb(21, 101, 167);
    color: white;
    cursor: pointer;
  }

  .card-button{
    width: 100px;
    height: 30px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
  }

  .see-more-button{
    width: 240px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
  }

  .generic-button:hover {
    background-color: rgb(16, 72, 117);
}

.non-generic-button:hover {
  background-color: rgb(16, 72, 117);
}

  .button-link{
    display: flex;
    justify-content: center;
    text-decoration: none
  }



  .non-generic-button{
    border: none;          /* Remove default border */
    border-radius: 16px;    /* Adjust the value for the desired amount of rounding */
    background-color: rgb(21, 101, 167);
    color: white;
    width: 240px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }



  .generic-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    padding: 12px;
  }

  .about-me-card{
    width: 350px;
    background-color:rgb(228, 228, 228);
    margin-right:20px;
  }

  .button-container{
    display: flex;
    justify-content: center;
    gap: 120px;
  }

  .card-text{
    text-align: center;
    margin-top: 12px;
    max-width: 425px;
  }


  .education-image{
    width: 256px; /* Set the width of the icon */
    height: 80px; /* Set the height of the icon */
  }

  .work-image{
    width: 152px; /* Set the width of the icon */
    height: 80px; /* Set the height of the icon */
  }

  .icon {
    font-size: 64px; /* Adjust the icon size as needed */
    width: 64px; /* Set the width of the icon */
    height: 64px; /* Set the height of the icon */
    display: inline-block;
  }
  
    .icon-container {
      display: flex; /* Make the container a flexbox for horizontal arrangement */
      justify-content: center; /* Distribute icons evenly within the container */
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 64px;
    }
    
    .icon-link {
      text-decoration: none; /* Remove underline from links */
      color: inherit; /* Inherit text color from parent */
    }
    .copyright{
      text-align: center;
    }

  .pw-about-me, .pw-work, .pw-education, .pw-accomplishments{
     background-color: rgb(255, 255, 255);
  }

  .pw-skills, .pw-projects, .pw-awards{
    background-color: rgb(243, 243, 243);
 }

  .section-end{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    background-color: rgb(243, 243, 243);
  }
  

  
