

.top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.top-right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.name-text{
  font-size: 72px;
  font-weight: bold;
  color: black;
}

.body-text{
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.self-portrait{
  max-width: 25%;
  height: auto;
  border-radius: 25%;
}


  .project-container{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1450px;
    margin-bottom: 50px;
    align-items: stretch

  } 

  .project{
    display : flex;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    transition: color 0.3s ease, transform 0.3s ease; /* Optional hover effect */
    min-height: 100%; /*Ensures that all cards are the same height */
  }

  .project-reduced{
    max-width: 450px;
  }

  .project:hover {
    transform: scale(1.1); /* Scales the card to 110% */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Optional: add depth */
    cursor: pointer;
  }

  .project-title{
    font-weight: bold;
    font-size: 36px;
    color: black;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
  }

  .project-title-long{
    font-size: 30px;
  }

  .project-role{
    font-size: 24px;
    color: blue;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .project-icon-container{
    display: flex;
    gap: 2px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .project-icon{
    width: 25px;
    height: 25px;
  }

  .project-icon-text{
    font-size: 24px;
    color: black;
    padding-right: 8px;
  }

  .project-engine-tag{
    background-color: rgb(15, 87, 159);
    color: white;
    padding: 2px 7px;
    margin-right: 5px;
    font-size: 22px;
    border-radius: 20px;
  }

  .project-language-tag{
    background-color: rgb(159, 15, 15);
    color: white;
    padding: 2px 7px;
    font-size: 22px;
    border-radius: 20px;
  }

  .project-description{
    font-size: 24px;
    color: black;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .project-image{
    max-width: 100%;
    height: auto;
  }

  .video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9; /* Maintains aspect ratio to prevent collapse */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Ensure image and video fully overlap */
.project-thumbnail, .project-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure they fill the container */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.video-container:hover .project-video {
  opacity: 1; /* Show video on hover */
}


  .see-other-projects-button{
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Optional hover effect */

  }

  .see-other-projects-button:hover{
    color: black;
    background-color: grey;
    transform: scale(1.1); /* Slightly enlarge on hover */
  }

  .skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
    margin-bottom: 50px;
    margin-top: 25px;
    align-items: center;
  }


  .skills-icon{
    width: 100px;
    height: auto;
    margin-right: 10px;
  }

  .text-icon{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 2px;
  }

  .education-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1400px;
    margin-top: 50px;
    gap: 25px
  }

  .education-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 600px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }

  .education-header{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 25px
  }

  .education-text{
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .about-me-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
  }

  .about-me-text{
    font-size: 24px;
    text-align: left;
    margin-bottom: 50px;
  }

  .achievement-container{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 50px;
  }

  .achievement{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .achievement-icon{
    width: 25px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .achievement-text{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 20px;
  }


  


  

  
