*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: rgb(0, 0, 0);
}

.navbar .left-links{
    font-size: 32px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.navbar ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.section{
  display: flex;
  flex-direction: column;
  padding: 64px 0px;
  justify-content: center;
  align-items: center;
}

.even-section{
  background-color: azure;
}

.top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.top-right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.name-text{
  font-size: 72px;
  font-weight: bold;
  color: black;
}

.body-text{
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.self-portrait{
  max-width: 25%;
  height: auto;
  border-radius: 25%;
}

.section-header{
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-bottom: 2px;
}

.section-description{
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}


  .project-container{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1400px;
    margin-bottom: 50px;

  } 

  .project{
    display : flex;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    transition: color 0.3s ease, transform 0.3s ease; /* Optional hover effect */
  }

  .project:hover {
    transform: scale(1.1); /* Scales the card to 110% */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Optional: add depth */
    cursor: pointer;
  }

  .project-title{
    font-weight: bold;
    font-size: 36px;
    color: black;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
  }

  .project-role{
    font-size: 24px;
    color: blue;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .project-icon-container{
    display: flex;
    gap: 2px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .project-icon{
    width: 25px;
    height: 25px;
  }

  .project-icon-text{
    font-size: 24px;
    color: black;
    padding-right: 8px;
  }

  .project-engine-tag{
    background-color: rgb(15, 87, 159);
    color: white;
    padding: 2px 7px;
    margin-right: 5px;
    font-size: 22px;
    border-radius: 20px;
  }

  .project-language-tag{
    background-color: rgb(159, 15, 15);
    color: white;
    padding: 2px 7px;
    font-size: 22px;
    border-radius: 20px;
  }

  .project-description{
    font-size: 24px;
    color: black;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .project-image{
    max-width: 100%;
    height: auto;
  }

  .see-other-projects-button{
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Optional hover effect */

  }

  .see-other-projects-button:hover{
    color: black;
    background-color: grey;
    transform: scale(1.1); /* Slightly enlarge on hover */
  }

  .skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
    margin-bottom: 50px;
    align-items: center;
  }


  .skills-text{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 12px;
  }

  .skills-icon{
    width: 100px;
    height: auto;
  }

  .text-icon{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 2px;
  }

  .contact-container {
    display: flex; /* Flexbox for horizontal layout */
    justify-content: center; /* Center the icons */
    gap: 20px; /* Space between icons */
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
  
  .fa-brands, .fa-solid {
    font-size: 75px; /* Correct way to scale icons */
    color: black;
    display: inline-block; /* Allows width/height-like behavior */
    transition: color 0.3s ease, transform 0.3s ease; /* Optional hover effect */
  }
  
  .fa-brands:hover, .fa-solid:hover {
    color: #0077b5; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
  
  .icon-link {
    text-decoration: none; /* Removes underline from anchor */
  }

  .copyright{
    font-size: 24px;
    text-align: center;
    color: black;
  }


  


  

  
